@charset "Utf-8";

a.btn {
	color: #FFF;
}

#map {
	width:100%;
	height:700px;
}

a.close {
    opacity: .5;
}

.leaflet-control-geoloc {
	background-image: url(/img/location.png);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.leaflet-control-node {
	background-image: url(/img/node.png);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.leaflet-control-about {
	background-image: url(/img/info.png);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.leaflet-control-distance {
	background-image: url(/img/ruler.png);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.desc {
	color: #AAA;
	font-size: 10px;
}

#two, #three, #four {
	display: none;
}

textarea.contact {
	width: 200px !important;
}

.property {
	color: #333;
	font-size: 16px;
	font-weight: 900;
}

.navbar {
    position: absolute;
    z-index: 2000;
    width: 100%;
}

.leaflet-top {
    top: 45px;
}

.padding {
	padding-top: 25px;
}

#inputform {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: -1000px;
	right: 25px;
	background: rgba(255, 255, 255, .8);
	padding: 25px;
	overflow: hidden;
	z-index: 4000;
	font-family: Helvetica;
	width: 250px;
}

#bringnavbarback {
	position: absolute;
	z-index: 4000;
	top: -50px;
	right: 50px;
	background-color: rgba(233, 233, 233, .6);
	padding: 10px;
}

#bringnavbarback:hover {
	cursor: pointer;
	background-color: rgba(233, 233, 233, 1);
}

a.light {
	color: #AAA !important;	
}

a.light:hover {
	color: #999 !important;	
}

#search {
	margin-top: 6px;	
}

.node, #node {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 75px;
	right: 25px;
	background: rgba(255, 255, 255, .8);
	padding: 5px 25px 25px 25px;
	overflow: hidden;
	z-index: 4000;
	font-family: Helvetica;
	width: 300px;
	font-size: 12px;
}

.btn-mini {
    padding: 0px 2px;
    font-size: 10px;
}