@charset "Utf-8";

#map {
	width:100%;
	height:700px;
}

.leaflet-control-geoloc {
	background-image: url(/res/img/location.png);
	background-position: 
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.leaflet-control-node {
	background-image: url(/res/img/node.png);
	background-position: 
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
