{
	"Name": "Meshnet",
	"AdminContact": "John Doe &lt;<a href=\"mailto:johndoe@example.com\">johndoe@example.com</a>&gt; 0123ABCD",
	"Web": {
		"Hostname": "http://localhost",
		"Prefix": "",
		"Addr": "tcp://0.0.0.0:8077",
		"DeproxyHeaderFields": [
			"X-Forwarded-For",
			"X-Real-Ip"
		],
		"HeaderSnippet": "<meta name='description' content='Federated node mapping for mesh networks.'>"
	},
	"ChildMaps": [],
	"Database": {
		"DriverName": "sqlite3",
		"Resource": "example.db",
		"ReadOnly": true
	},
	"HeartbeatRate": "10m",
	"CacheExpiration": "168h",
	"VerificationExpiration": "48h",
	"SMTP": {
		"VerifyDisabled": false,
		"EmailAddress": "nodeatlas@example.com",
		"Username": "nodeatlas",
		"Password": "password123",
		"NoAuthenticate": false,
		"ServerAddress": "mail.example.com:587"
	},
	"Map": {
		"Favicon": "nodeatlas.png",
		"Tileserver": "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
		"Center": {
			"Latitude": 40,
			"Longitude": -100
		},
		"Zoom": 4,
		"ClusterRadius": 50,
		"Attribution": "© OpenStreetMap contributors"
	},
	"Verify": {
		"Netmask": "fc00::/8",
		"FromNode": true
	}
}
