<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="https://github.com/ProjectMeshnet/nodeatlas">
		<title>{{.Name}}</title>
		<link rel="shortcut icon" href="/favicon">
		<link rel="stylesheet" href="/res/css/app.css">
		<link type="text/css" rel="stylesheet" href="/res/css/leaflet.css" />
		<link type="text/css" rel="stylesheet" href="/res/css/custom.css" />
		<!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="/res/css/leaflet.ie.css" /><![endif]-->
		<link type="text/css" rel="stylesheet" href="/res/css/MarkerCluster.css" />
		<link type="text/css" rel="stylesheet" href="/res/css/MarkerCluster.Default.css" />
		<script type="text/javascript" src="/res/js/jquery.min.js"></script>
		<script src="/res/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/res/js/leaflet.js"></script>
		<script type="text/javascript" src="/res/js/leaflet.markercluster.js"></script>
		<script type="text/javascript" src="/res/js/distance.js"></script>
		<script type="text/javascript" src="/res/js/icon.js"></script>
		<script type="text/javascript" src="/res/js/status.js"></script>
		<script type="text/javascript" src="/res/js/common.js"></script>
		{{.Web.HeaderSnippet}}
	</head>
	<body>
	<div id="wrap">
	<div class="navbar">
		<div class="container">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{.Name}}</a>
				<div class="nav-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
					<li><a href="/">Map</a></li>
					<li><a href="/about/">About</a></li>
					<li class="active"><a href="#">Edit Node</a></li>
					</ul>
				</div> 
		</div> 
	</div>
	<noscript><div class="alert alert-warning"><h1>Please enable Javascript</h1><p>This website requires javascript to be viewed properly.</p></noscript>
		<div class="container">
		<div class="page-header">
		<h1>Edit Node</h1>
		</div>
		<div class="col col-lg-8">
		<form class="form-horizontal">
		  <div class="row">
		    <label for="inputName" class="col-lg-2 control-label">Hostname</label>
		    <div class="col-lg-10">
		      <input type="text" id="inputName" placeholder="node.hype">
		    </div>
		  </div><br/><br/>
		  <div class="row">
		    <label for="inputDetails" class="col-lg-2 control-label">Details</label>
		    <div class="col-lg-10">
		    <input type="text" id="inputDetails" placeholder="home,work,ect"><br/><br/>
		    <label>
        	<input type="checkbox" id="active"> Active Node
      		</label><br/><br/>
		    <label>
        	<input type="checkbox" id="residental"> Residential Node
      		</label><br/><br/>
		    <label>
        	<input type="checkbox" id="internet"> Internet Access
      		</label><br/><br/>
		    <label>
        	<input type="checkbox" id="wireless"> Wireless access
      		</label><br/><br/>
		    <label>
        	<input type="checkbox" id="wired"> Wired (eth) access
      		</label><br/><br/>
		    </div>
			</div>
		    <div class="row">
		    <div class="col-lg-10 col-offset-2">
		      <button type="submit" class="btn btn-success btn-block">Save</button>
		    </div>
		  </div>
		</form>
	</div>
		</div>
		</div>
		<br/><br/>
		<div style="height:60px;background-color:#DFDFDF;font-weight:400;padding:20px;" id="footer">
			<div class="container">
				<p class="text-muted credit">{{.Name}} map is powered by <a href="https://github.com/ProjectMeshnet/nodeatlas" rel="nofollow">NodeAtlas</a>.</p>
			</div>
		</div>
	</body>
</html>
