<!DOCTYPE html>
<html>
	<head>
		<title>{{.Name}}</title>
		<link rel="shortcut icon" href="/favicon">
		<!-- CDN w/o local fallbacks will need to be addressed -->
		<link rel="stylesheet" href="/res/css/app.css">
		<link type="text/css" rel="stylesheet" href="/res/css/leaflet.css" />
		<link type="text/css" rel="stylesheet" href="/res/css/custom.css" />
		<!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="/res/css/leaflet.ie.css" /><![endif]-->
		<link type="text/css" rel="stylesheet" href="/res/css/MarkerCluster.css" />
		<link type="text/css" rel="stylesheet" href="/res/css/MarkerCluster.Default.css" />
		<script type="text/javascript" src="/res/js/jquery.min.js"></script>
		<script src="/res/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/res/js/leaflet.js"></script>
		<script type="text/javascript" src="/res/js/leaflet.markercluster.js"></script>
		<script type="text/javascript" src="/res/js/distance.js"></script>
		<script type="text/javascript" src="/res/js/icon.js"></script>
		<script type="text/javascript" src="/res/js/status.js"></script>
		<script type="text/javascript" src="/res/js/menu.js"></script>
		{{.Web.HeaderSnippet}}
	</head>
	<body>
<div id="wrap">
<div class="navbar">
<div class="container">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">{{.Name}}</a>
<div class="nav-collapse collapse navbar-responsive-collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="/">Map</a></li>
<li><a href="/about/">About</a></li>
</ul>
<!--<form class="navbar-form pull-right" action="">
<input type="text" class="col-lg-8" placeholder="Search">
</form>-->
<ul class="nav navbar-nav pull-right">
	<li><a href="#" onclick="geoLocate(); return false;">Locate Me</a></li>
	<li><a href="#" onclick="initDistance();" id="distance">Calculate Distance</a></li>
</ul>
<div class="pull-right">
	<button href="#me" class="btn btn-primary navbar-btn" data-toggle="modal" id="addme">Add Node</button>
</div>
</div> 
</div> 
</div>
	<noscript><div class="alert alert-warning"><h1>Please enable Javascript</h1><p>This website requires javascript to be viewed properly.</p></noscript>
		<div class="modal fade" id="me">
		 <div class="modal-dialog">
    	  <div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Add me to the map!</h3>
			</div>
			<div class="modal-body">
				<h5>Click on the Go! button below to get started.</h5>
				<h5>Navigate to your desired location and click on the map to drop a marker and submit your information.</h5>
			</div>
			<div class="modal-footer">
				<a href="#" onClick="$('#me').modal('hide'); initRegistration(); return false;"class="btn btn-primary">Go!</a>
			</div>
		</div>
	</div>
</div>	
	
		<div id="map"></div>
	</div>
		<script type="text/javascript" src="/res/js/loadmap.js"></script>
	</body>
</html>
