<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="https://github.com/ProjectMeshnet/nodeatlas">
		<title>{{.Name}}</title>
		<link rel="shortcut icon" href="/img/icon/{{.Map.Favicon}}">
		<link rel="stylesheet" href="/css/app.css">
		<link type="text/css" rel="stylesheet" href="/css/leaflet.css" />
		<link type="text/css" rel="stylesheet" href="/css/custom.css" />
		<!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="/css/leaflet.ie.css" /><![endif]-->
		<link type="text/css" rel="stylesheet" href="/css/MarkerCluster.css" />
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/leaflet.js"></script>
		<script type="text/javascript" src="/js/leaflet.markercluster.js"></script>
		<script type="text/javascript" src="/js/distance.js"></script>
		<script type="text/javascript" src="/js/icon.js"></script>
		<script type="text/javascript" src="/js/status.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
		<script type="text/javascript" src="/js/search.js"></script>
		{{.Web.HeaderSnippet}}
	</head>
	<body>
<div id="wrap">
<div class="navbar">
<div class="container">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/">{{.Name}}</a>
<div class="nav-collapse collapse navbar-responsive-collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="/">Map</a></li>
<li><a href="/about/">About</a></li>
</ul>
<ul class="nav navbar-nav pull-right">
	<li><a href="#" class="light" onclick="hide(); return false;">Hide</a></li>
	<li><a href="#" onclick="geoLocate(); return false;">Locate Me</a></li>
	<li><a href="#" onclick="initDistance();" id="distance" data-toggle="tooltip" data-placement="bottom" data-original-title="Click on the first node, and then the second node." >Calculate Distance</a></li>
	<li><input type="text" id="search" placeholder="Search"/></li>
	<li><a href="#" class="sm"></a></li>
	<li><button href="#" onclick="initRegistration();" class="btn btn-primary navbar-btn" id="addme" data-toggle="tooltip" data-placement="bottom" data-original-title="Click anywhere to add your node!" >Add Node</button></li>
</ul>
</div> 
</div> 
</div>
	<noscript><div class="alert alert-warning"><h1>Please enable Javascript</h1><p>This website requires javascript to be viewed properly.</p></noscript>
		<div id="map"></div>
	</div>
		<script type="text/javascript" src="/js/loadmap.js"></script>
	</body>
</html>
