<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="https://github.com/ProjectMeshnet/nodeatlas">
    <title>{{.Name}}</title>
    <link rel="shortcut icon" href="/img/icon/{{.Map.Favicon}}">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/assets/leaflet.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="/assets/leaflet.ie.css" /><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="index.rss">
    <script type="text/javascript" src="/assets/jquery.min.js"></script>

    <script type="text/javascript" src="/assets/bootstrap.min.js"></script>

    <script type="text/javascript" src="/assets/leaflet.min.js"></script>
    <script type="text/javascript" src="/assets/leaflet.markercluster.min.js"></script>
    {{.Web.HeaderSnippet}}
  </head>
  <body>
    <div id="wrap">
      <nav class="navbar navbar-default" role="navigation">
      	<div class="container-fluid">
      	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      	    <span class="icon-bar"></span>
      	    <span class="icon-bar"></span>
      	    <span class="icon-bar"></span>
      	  </button>
      	  <a class="navbar-brand" href="/">{{.Name}}</a>
      	  <div class="collapse navbar-collapse navbar-responsive-collapse">
      	    <div class="hidden-sm">
      	      <ul class="nav navbar-nav pull-right">
                <li><a href="/about/">About</a></li>
                <li class="dropdown active">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Map
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu" role="menu">
                    <li><a href="#" onclick="map.zoomIn(1); return false;">Zoom In</a></li>
                    <li><a href="#" onclick="map.zoomOut(1); return false;">Zoom Out</a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="hide(); return false;">Hide Navbar</a></li>
                  </ul>
                </li>
      		<li class="dropdown">
      		  <a href="#" id="legend" data-toggle="popover" data-placement="bottom" title="Legend">
      		    Legend
      		    <b class="caret"></b>
      		  </a>
      		</li>
      		<li class="dropdown">
      		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      		    Filter
      		    <b class="caret"></b>
      		  </a>
      		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu" role="menu">
      		    <li><a href="#" onclick="onOff(); return false;" id="all_l" class="disabled">Off</a></li>
      		    <li class="divider hidden" id="layer_1"></li>
      		    <li><a href="#" onclick="activeNodes(); return false;" id="active_l" class="hidden disabled">Active Nodes</a></li>
      		    <li><a href="#" onclick="potentialNodes(); return false;" id="potential_l" class="hidden disabled">Potential Nodes</a></li>
      		    <li class="divider hidden" id="layer_2"></li>
      		    <li><a href="#" onclick="residentialNodes(); return false;" id="residential_l" class="hidden disabled">Residential Nodes</a></li>
      		    <li><a href="#" onclick="vpsNodes(); return false;" id="vps_l" class="hidden disabled">Virtual Private Servers</a></li>
      		    <li class="divider hidden" id="layer_3"></li>
      		    <li><a href="#" onclick="internetNodes(); return false;" id="internet_l" class="hidden disabled">Internet Access</a></li>
      		    <li><a href="#" onclick="wirelessNodes(); return false;" id="wireless_l" class="hidden disabled">Wireless Access</a></li>
      		    <li><a href="#" onclick="wiredNodes(); return false;" id="wired_l" class="hidden disabled">Wired (eth) Access</a></li>
      		  </ul>
      		</li>
      		<li class="dropdown">
      		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      		    Tools
      		    <b class="caret"></b>
      		  </a>
      		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu" role="menu">
      		    <li><a href="#" onclick="geoLocate(); return false;">Locate Me</a></li>
      		    <li><a href="#" onclick="initDistance();" id="distance" data-toggle="tooltip" data-placement="bottom" data-original-title="Click on the first node, and then the second node." >Calculate Distance</a></li>
      		    <li class="divider"></li>
      		    <li><a href="#" onclick="search(); return false;" class="disabled">Search</a></li>
      		  </ul>
      		</li>
      		<li><button href="#" onclick="initRegistration();" class="btn btn-primary navbar-btn" id="addme" data-toggle="tooltip" data-placement="bottom" data-original-title="Click anywhere to add your node!" >Add Node</button></li>
      	      </ul>
      	    </div>
      	    <div class="visible-sm">
      	      <ul class="nav navbar-nav">

      		<li><a href="#" onclick="geoLocate(); return false;">Locate Me</a></li>
      		<li><a href="#" onclick="initDistance();" id="distance" data-toggle="tooltip" data-placement="bottom" data-original-title="Click on the first node, and then the second node." >Calculate Distance</a></li>

      		<li><a href="#" onclick="search(); return false;">Search</a></li>

      		<li><a href="#" onclick="initRegistration();" id="addme">Add Node</a></li>
      	      </ul>
      	    </div>
      	  </div>
      	</div>
      </nav>
      <noscript><div class="alert alert-warning"><h1>Please enable Javascript</h1><p>This website requires javascript to be viewed properly.</p></noscript>
      <div id="map"></div>
      </div>
      <script type="text/javascript" src="/js/config.js"></script>
      <script type="text/javascript" src="/js/loadmap.js"></script>
  </body>
</html>
